# Node rules:
# Ignore node_modules folder
FE/node_modules/

# Angular rules:
# Ignore dist folder
FE/dist/

# Ignore the file at the root of the Angular workspace
FE/angular.json

# Ignore environment variables
FE/src/environments/

# Ignore Angular specific cache files
**/.angular/cache/

# .NET Core rules:
# Ignore the obj and bin folders
BE/*/obj/
BE/*/bin/

# Ignore appsettings.json files
BE/*/appsettings.json

# Ignore any .user, .userosscache, .suo, .sln.docstates, .cache, .vs, .idea, .vscode folders
*.user
*.userosscache
*.suo
*.sln.docstates
.cache/
.vs/
.idea/
.vscode/

# Visual Studio rules:
# Ignore .vs folder
.vs/

# Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Ignore nuget packages
*.nupkg
# Including the cache folder
~/.nuget/packages/
~/.nuget/cache/
~/.nuget/v3-cache/

# Others
ClientApp/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
orleans.codegen.cs

# Including all markdown files in all directories
*.md/

# Ignore all files that start with . and end with .swp
.*.swp

# Ignore all files that start with ~
~*

# Ignore all files that end with .tmp
*.tmp

# Ignore all files that end with .log
*.log

# Ignore all files that end with .bak
*.bak

# Ignore all files that end with .swp
*.swp

# Ignore all files that end with .swo
*.swo

BE/**/*.dll