mat-form-field {
    width: 50%;
    height: 80px;
    margin-left: 10px;
}


.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.toolbar button {
    width: fit-content;
    height: fit-content;
    padding: 18.5px;
    white-space: nowrap;
    background-color: #D1C4E9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.actions {
    text-align: center;
}

th {
    text-align: center;
}

#table-container {
    overflow: auto;
    margin-top: 10px;
}

#table-container mat-icon {
    color: black;
}

.actions {
    width: 10px;
}